<nav class="fixed bottom-0 left-0 right-0 bg-[var(--card-dark)] md:hidden flex justify-around items-center p-2 shadow-lg">
    <a href="../Pages/Dash.php" class="nav-item flex flex-col items-center text-gray-400 hover:text-[var(--primary-color)]" data-target="dashboard">
      <i class="fas fa-gauge-high text-xl"></i>
      <span class="text-xs">Dashboard</span>
    </a>
    <a href="../Pages/Intro.php" class="nav-item flex flex-col items-center text-gray-400 hover:text-[var(--primary-color)]" data-target="intro">
      <i class="fas fa-user text-xl"></i>
      <span class="text-xs">Intro</span>
    </a>
    <a href="../Pages/About.php" class="nav-item flex flex-col items-center text-gray-400 hover:text-[var(--primary-color)]" data-target="about">
      <i class="fas fa-address-card text-xl"></i>
      <span class="text-xs">About</span>
    </a>
    <a href="../Pages/Experience.php" class="nav-item flex flex-col items-center text-gray-400 hover:text-[var(--primary-color)]" data-target="experience">
      <i class="fas fa-briefcase text-xl"></i>
      <span class="text-xs">Experience</span>
    </a>
    <a href="../Pages/Tools.php" class="nav-item flex flex-col items-center text-gray-400 hover:text-[var(--primary-color)]" data-target="skills">
      <i class="fas fa-toolbox text-xl"></i>
      <span class="text-xs">Tools</span>
    </a>
    <a href="../Pages/Education.php" class="nav-item flex flex-col items-center text-gray-400 hover:text-[var(--primary-color)]" data-target="Education">
      <i class="fas fa-graduation-cap text-xl"></i>
      <span class="text-xs">Education</span>
    </a>
    <a href="#" class="nav-item flex flex-col items-center text-gray-400 hover:text-[var(--primary-color)]" data-target="projects">
      <i class="fas fa-laptop-code text-xl"></i>
      <span class="text-xs">Projects</span>
    </a>
  </nav>
  